.Avatar {
  height: 40vmin;
  pointer-events: none;
  margin-left: 20px;
  margin-top: 15px;
}
.content{
  height: 1100px;
  border: 1px solid #000;
  width: 750px;
  margin: 20px 180px 20px;
}
.content-left{
  height: 1100px;
  display: inline-block;
  width: 250px;
  background-color: #8a2be2;
  color: #fff;
}
.content-right{
  width: 470px;
  color: black;
  float: right;
  margin-right: 20px;
  display: inline-block;
}
h3{
  margin-left: 10px;
}
.information{
  margin-left: 15px;
}